* {
  box-sizing: border-box;
}

.container{
  padding: 0;
  text-align: center;
}

img {
  height: 250px;
  width: 180px;
}
h1{
  background-size: cover;
  background-image: url('../img/The-Avengers.jpg');
  color: white;
  text-align: center;
  margin: 0;
  padding: 100px;
  width: 100%;
}

h2 {
  text-align: center;
}
